<!-- <p>shopping-edit works!</p> -->

<div class="row">
    <div class="col-xs-12">
        <form>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Nome</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Quantidade</label>
                    <input type="number" id="amount" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit">Adicionar</button>
                    <button class="btn btn-danger" type="button">Deletar</button>
                    <button class="btn btn-primary" type="button">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>

